html {
  font-family: "Fredoka One", sans-serif;
  background-color: #b3fbff;
}

body {
  background-image: repeating-linear-gradient(-45deg, #c9fcff 0%, #c9fcff 1%, #d4fdff 1.1%, #d4fdff 2%, #c9fcff 2.1%);
}

h1 {
  color: #990073;
}

p {
  color: #c09;
}

.btn-ghost {
  color: #c09;
  border-color: #990073;
}

.btn-ghost:hover {
  color: #c09;
  border-color: #990073;
  background-color: rgba(153, 0, 115, .1);
}

.h1 {
  transform: rotate(-10deg);
  transform-origin: left center;
}

.p {
  transform: rotate(-5deg);
  transform-origin: left center;
}

img {
  max-width: 19em;
}
