html {
  font-family: "Fredoka One", sans-serif;
}

.banner-outer {
  background-image: repeating-linear-gradient(-45deg, #c9fcff 0%, #c9fcff 1%, #d4fdff 1.1%, #d4fdff 2%, #c9fcff 2.1%);
  border-top: solid 10px #b3fbff;
  border-bottom: solid 10px #b3fbff;
}

h1 {
  position: relative;
  left: -.15em;
  color: #990073;
  text-shadow: 2px 2px #bcdee0;
  transform: rotate(-10deg);
  transform-origin: left center;
}

p {
  color: #c09;
  text-shadow: 2px 2px #bcdee0;
  transform: rotate(-5deg);
  transform-origin: left center;
  max-width: 19em;
}

.btn-ghost {
  color: #c09;
  border-color: #990073;
  text-shadow: 2px 2px #bcdee0;
}

.btn-ghost:hover {
  color: #c09;
  border-color: #990073;
  background-color: rgba(153, 0, 115, .1);
}

.ingredient {
  height: 125px;
  width: 125px;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.cherry {
  z-index: 5;
  width: 70px;
  animation: cherry-drop-in .3s 1.5s ease-in forwards;
}

.vanilla {
  z-index: 4;

  animation: vanilla-drop-in .3s .9s ease-in forwards;
}

.chocolate {
  z-index: 3;

  animation: chocolate-drop-in .3s .6s ease-in forwards;
}

.mint {
  z-index: 1;

  animation: mint-drop-in .3s .3s ease-in forwards;
}

.cone {
  z-index: 2;

  animation: cone-drop-in .3s ease-in forwards;
}

.text {
  animation: blur-in .9s ease-in forwards;
}

.icecream {
  min-height: 480px;
}

@keyframes cone-drop-in {

  0% {
    bottom: 100%;
  }

  100% {
    bottom: 10px;
  }

}

@keyframes mint-drop-in {

  0% {
    bottom: 100%;
  }

  100% {
    bottom: 115px;
  }

}

@keyframes chocolate-drop-in {

  0% {
    bottom: 100%;
  }

  100% {
    bottom: 200px;
  }

}

@keyframes vanilla-drop-in {

  0% {
    bottom: 100%;
  }

  100% {
    bottom: 275px;
  }

}

@keyframes cherry-drop-in {

  0% {
    bottom: 100%;
  }

  100% {
    bottom: 350px;
  }

}

@keyframes blur-in {

  0% {
    filter: blur(20px);
    opacity: 0;
  }

  100% {
    filter: blur(0);
    opacity: 1;
  }

}
